admin.enableServer={{ kafka_zookeeper_admin_enableserver }}
authProvider.sasl=org.apache.zookeeper.server.auth.SASLAuthenticationProvider
autopurge.purgeInterval={{ kafka_zookeeper_autopurge_interval }}
autopurge.snapRetainCount={{ kafka_zookeeper_autopurge_snap_retain_count }}
clientPort={{ kafka_zookeeper_client_port }}
dataDir={{ kafka_zookeeper_data_dir }}
initLimit={{ kafka_zookeeper_init_limit }}
maxClientCnxns={{ kafka_zookeeper_max_client_cons }}

{% for server in kafka_zookeeper_servers %}
server.{{ loop.index }}={{ server }}
{% endfor %}

syncLimit={{ kafka_zookeeper_synclimit }}

quorum.auth.enableSasl={{ kafka_zookeeper_quorom_auth_enablesasl }}
quorum.auth.learnerRequireSasl={{ kafka_zookeeper_quorom_auth_learner_requiresasl }}
quorum.auth.serverRequireSasl={{ kafka_zookeeper_quorom_auth_server_requiresasl }}
quorum.auth.learner.loginContext={{ kafka_zookeeper_quorom_auth_learner_logincontext }}
quorum.auth.server.loginContext={{ kafka_zookeeper_quorom_auth_server_logincontext }}
quorum.cnxn.threads.size={{ kafka_zookeeper_quorom_auth_cnxn_threads_size }}